/* HEADER */
header {
    background-color: #17abb3;
    display: flex;
    align-items: center;
    color: #fff;
}
header span {
    color: #fff;
}
#header-logo {
    width: 30%;
}
#header-logo img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 0 auto;
}
#header-title {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-infos__address {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding: 0;
}
.container-infos__address li {
    list-style-type: none;
    margin-bottom: 10px;
}
.container-infos__address li img {
    margin-right: 5px;
}
.container-infos__address li:nth-of-type(odd) {
    width: 65%;
}
.container-infos__address li:nth-of-type(even) {
    width: 35%;
}

/* MAIN ASIDE */
aside {
    width: 30%;
    background-color: rgba(227, 227, 277, 0.5);
    padding: 25px;
}
#profil {
    width: 70%;
}
.competences-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.competences-list li:last-child {
    margin-bottom: 0;
}
.square-list li{
    margin-bottom: 5px;
}
.square-list li::before {
    content: "\0025A0";
    float: left;
    color: #17abb3;
    margin-right: 10px;
}

/* MAIN SECTION */
#profil h2 {
    margin-bottom: 0;
}

#profil section:last-child {
    padding-bottom: 30px;
}

/* FOOTER */
footer {
    background-color: #17abb3;
}